body{
    display: flex;
    justify-content: center;
    text-align: center;
}
.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    font-size: 70px ;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif, cursive;
    cursor: pointer;
    text-align: center;
}
.cellscontainers{
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: auto;
    width: 225px;
}

